@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600;700&family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

/* body{
    background: linear-gradient(90deg, rgba(252,176,69,1) -50%, rgba(131,58,180,1) 17%, rgba(253,29,101,1) 93%);
} */
.container{
    border: 1px solid black;
    background-color: white;
    padding:  20px 20px;
    border: none;
    /* border-radius: 20px; */
    box-shadow: 5px 5px 15px 15px;
}
.heading{
    padding: 10px;
    font-size : "32px";
    font-weight: 900;
    font-family: "Roboto" , sans-serif ;
    color: black;
    /* text-underline-offset: 10px; */
}
.button{
    background: linear-gradient(90deg, rgba(252,176,69,1) -50%, rgba(123,24,190,0.8128501400560224) 17%, rgba(218,31,91,0.8828781512605042) 93%);
}